######################################################
# Version: 1.0.0b2
######################################################
######################################################
# Service Account
######################################################
PRISMASASE_CLIENT_ID="client_id"
PRISMASASE_CLIENT_SECRET="client_secret"
PRISMASASE_TSG_ID="tsg_id"
######################################################
# Branch Topology
######################################################
SITE_NAME="Branch_DualInternet_3200_HAtest"
ADDRESS_CITY="New York"
ADDRESS_COUNTRY="United States"

#
# Optional
#
ADDRESS_STREET=""
ADDRESS_STATE=""
ADDRESS_ZIPCODE=""
ADDRESS_LATITUDE="40.7127492"
ADDRESS_LONGITUDE="-74.0059945"
#
# Service & DC Group
#
BRANCH_DOMAIN="Preset Domain"
#
# MODEL - Allowed values: 1200S, 3200, 5200, 3102v, 3104v, 3108v
#
BRANCH_MODEL="3200"

#
# HA - Allowed values: True, False
#
HA=True
######################################################
# Circuit Configuration
######################################################
#
# Internet Circuit
#
NUM_INTERNET=2

PRIMARY_INTERNET_CATEGORY="Primary Internet"
PRIMARY_INTERNET_PROVIDER="ISP 1"
PRIMARY_INTERNET_CIRCUITNAME="Primary Internet Circuit"

SECONDARY_INTERNET_CATEGORY="Secondary Internet"
SECONDARY_INTERNET_PROVIDER="ISP 2"
SECONDARY_INTERNET_CIRCUITNAME="Secondary Internet Circuit"
#
#  Private WAN Circuit
#
NUM_PRIVATE=0

PRIVATEWAN_CATEGORY="MPLS"
PRIVATEWAN_PROVIDER="Carrier 1"
PRIVATEWAN_CIRCUITNAME="MPLS Circuit"
######################################################
# Interface Configuration
######################################################
PRIMARY_INTERNET_INTERFACE="1"
PRIMARY_INTERNET_IP_PREFIX="10.20.30.1/24"
PRIMARY_INTERNET_GW="10.20.30.10"
PRIMARY_INTERNET_DNS=["8.8.8.8", "8.8.4.4"]

SECONDARY_INTERNET_INTERFACE="34"
SECONDARY_INTERNET_IP_PREFIX="dhcp"
SECONDARY_INTERNET_GW="dhcp"
SECONDARY_INTERNET_DNS=["8.8.8.8", "8.8.4.4"]

PRIVATEWAN_INTERFACE="34"
PRIVATEWAN_IP_PREFIX="dhcp"
PRIVATEWAN_GW="dhcp"
PRIVATEWAN_DNS=["8.8.8.8", "8.8.4.4"]

LAN_INTERFACE="5"
######################################################
# LAN Configuration
######################################################
VLAN_CONFIG = [ {"vlan_id": 510, "name": "HA", "ip_prefix": "10.20.10.1/24", "gw": "10.20.10.10", "dns": ["8.8.8.8", "8.8.4.4"], "used_for": "ha", "scope": "global"},
                {"vlan_id": 520, "name": "GUEST", "ip_prefix": "10.20.20.1/24", "gw": "10.20.20.10", "dns": ["8.8.8.8", "8.8.4.4"], "used_for": "lan", "scope": "local"},
                {"vlan_id": 530, "name": "VOICE", "ip_prefix": "10.20.30.1/24", "gw": "10.20.30.10", "dns": ["8.8.8.8", "8.8.4.4"], "used_for": "lan", "scope": "local"},
                {"vlan_id": 540, "name": "DATA", "ip_prefix": "10.20.40.1/24", "gw": "10.20.40.10", "dns": ["8.8.8.8", "8.8.4.4"], "used_for": "lan", "scope": "local"}]

